body *{
    font-family:'Lucida Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sArial, sans-serif;
}

h1{
    text-align: center;
}

.page {
    width: 1024px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 10px;
}
