body *{
    font-family:'Lucida Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sArial, sans-serif;
}

.page {
    width: 1024px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 10px;
}

.vis_box{
    width: 100%;
}

.centered_text_500 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Adjust as needed */
    padding: 8%;
  }

  .centered_text_600 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px; /* Adjust as needed */
    padding: 8%;
  }

  .centered_text_350 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px; /* Adjust as needed */
    padding: 8%;
  }


  .centered_text_400 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Adjust as needed */
    padding: 8%;
  }



h1{
    text-align: center;
    color: white;
    background-color: #18314f;
    border-radius: 10px;
    padding: 5px;
}

h2{
    text-align: center;
    color: white;
    background-color: #97a2af   ;
    border-radius: 10px;
    padding: 5px;
}

p{
    text-align: justify;
}

.most_expensive{
    font-weight: bold;
    color: rgb(24, 100, 170);
}

.interaction_desc {
    font-style: italic;
    text-align: center;
}

